/*Font used in the home page*/
@font-face {
    font-family: Neue Regrade;
    src: url('Neue Regrade Bold.otf');
}

/* custom <a> color for the home page*/
#home-page {
    a:not(.btn) {
        color: var(--bs-body-color);
        transition: color 0.5s;

        &:hover {
            color: var(--bs-link-color);
        }
    }
}

.text-linear-gradient {
    background: linear-gradient(45deg, var(--bs-primary), var(--bs-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* dmc.HoverCardTarget: fix width of container set to width: fit-content by default*/
[id^='mantine-'][id$='-target'] {
    width: 100% !important;
}

/* add a neon effect of navbar tooltips for dark mode*/
[data-bs-theme="dark"] {
    .mantine-HoverCard-dropdown {
        box-shadow: 0 0 10px var(--bs-primary);
        border-color: var(--bs-primary);
    }

    .mantine-HoverCard-arrow {
        border-bottom-color: var(--bs-primary) !important;
        border-left-color: var(--bs-primary) !important;
    }
}

#_pages_content {
    height: 100%;
}

/* fix parcats fig text on hover */
#graph-program-details text.nums {
    font-family: inherit !important;
    font-size: 13px !important;
}

/* Grid: classes to center headers and cells*/
.center-aligned-header .ag-header-cell-label {
    justify-content: center;
}

.center-aligned-cell {
    text-align: center;
}

/* Grid: background-color of the Total row same as headers*/
#grid-data .ag-row-pinned {
    background-color: var(--ag-header-background-color);
}

/* remove the info control from the maps */
.maplibregl-control-container {
    display: none;
}

/* customized fig rangeslider */
[class^="rangeslider-handle"] {
    width: 6px;
    rx: 3px;
}

.rangeslider-slidebox {
    stroke: grey;
    rx: 1px;
}

.rangeslider-handle-max {
    x: -2px;
}
